@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;800&display=swap');

body {

    margin: 0;
    font-family:  'Plus Jakarta Sans', sans-serif;
}

body*{
    box-sizing: border-box;
}

.main-login{
width: 100vw;
height: 100vh;
background-color: #E4E4E4;
display: flex;
justify-content: center;
align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.left-login> h1 {
    color: #CA1324;
    font-size: 3vw;
}

.left-loginimg{
    width: 35vw;
    
}

.right-login{
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-login{
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #CDCBCB;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #a6a6a6 ;

}

.card-login>h1{
    color: #003B6A;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;


}

.textfield>input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color:  #F1F0F0 ;
    color:#003B6A;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #a6a6a6;
    outline: none;
    box-sizing: border-box;
    
}

.textfield>label{
    color: #003B6A;
    margin-bottom: 10px;

}

.btn-login{

    width: 100%;
    padding: 16px 0px;
    margin: 20px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    background: #a6a6a6;
    cursor: pointer;
    box-shadow: 0px 10px 40px #a6a6a6;
    font-family:  'Plus Jakarta Sans', sans-serif;
    
}

@media only screen and (max-width: 950px){
   .card-login{
       width: 85%;
   } 
}

@media only screen and (max-width:600px){
  .main-login{
      flex-direction: column;
  }  
  .left-login>h1{
      display: none;

  }
  .left-login{
      width: 100%;
      height: auto;

  }
  .left-loginimg{
      width: 50vw;
  }
  .card-login{
      width:90%;
  }

}


